@model RMASystem.Models.ApplicationUser

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
<div>
	@{
		var email = HttpContext.Current.User.Identity.Name;
		var asd = HttpContext.Current.User.Identity.AuthenticationType;
		var asd2 = HttpContext.Current.User.Identity.IsAuthenticated;
		var asd3 = HttpContext.Current.User;
		var asd4 = HttpContext.Current.User.IsInRole("Administrator");
		if (!string.IsNullOrEmpty(email)) {
			<h4>Admin Power!</h4>
		}
	}
	<h2>Witaj @email!</h2>
</div>
</body>
</html>
