@using System.Web.UI.WebControls
@model RMASystem.Models.ApplicationUser

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
<div>
	@{
		if (HttpContext.Current.User.IsInRole("Administrator")) {
			<h4>Admin Panel</h4>
		}
	}
	<h2>Witaj @ViewBag.User.FirstName!</h2>
	@{

			if (!ViewBag.User.EmailConfirmed) {
			<div class=".bg-info">
				Wysłaliśmy Ci link aktywacyjny na adres @HttpContext.Current.User.Identity.Name
			</div>
		}
	}
</div>
</body>
</html>
