@model RMASystem.Models.User

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
<div>
	Witaj @Model.Email!
</div>
</body>
</html>
